<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %> 
  <body background="/images/background-img.jpg">
    <%- include('./partials/navbar.ejs') %>
    <link rel="stylesheet" href="/stylesheets/body.css">
<main>
    <section class="stadist">
      
      <div class="data-box">
        <h1>Ultimas Transacciones</h1>
        <% list.forEach(element => { %>       
        
        <p>Concepto: <%= element.concepto %> Monto: <%= element.monto %> Tipo de transaccion: <%= element.transaccion %></p>
        
        <% }) %>
      </div>
      <div class="data-box">
        <h1>Div 2</h1>
      </div>
      <div class="data-box">
        <h1>Div 3</h1>
      </div>
      
    </section>


  </main>
    <%- include('./partials/foooter.ejs') %> 
    
  </body>
</html>
